table
  tr
    td
      a(href="#E1")
        img(src=thumbnail)
  tr(height="100px")
    td
      div(class="vertical-center")
        p(align="middle" style="Font-size: 18px;")
          strong #{title}
  tr
    td
      div(class="vertical-center")
        p(align="middle" style="font-family:Calibri; padding: 5px")
          strong
            em  #{organisation}